<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>EstateNation</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main-wrapper">
  <!-- Header Parts Start-->
  <div id="header">
    <!-- Top Right part Links-->
    <div id="welcome">
      <%= link_to "Join Our Email List" %>
      <div id="language">Language
        <ul>
          <li><a title="English"><img src="assets/flags/gb.png" alt="English" />English</a></li>
        </ul>
      </div>

      <div class="links">My Account
        <ul>
          <li><a href="#">Update Bidder Profile</a></li>
          <li><a href="#">Video Instructions</a></li>
          <li><a href="#">Mobile App</a></li>
        </ul>
      </div>
      <%= link_to "Locations and Hours", locations_path %> <a href="#">create an account</a>
    </div>
    <div id="logo"><a href="/"><img src="assets/renation-6.jpg" width="280" title="ecommerce Html Template" alt="ecommerce Html Template" /></a></div>
    <div id="search">
      <div class="button-search"></div>
      <input type="text" value="" placeholder="" id="filter_name" name="search">
    </div>
    <div id="cart">
      <div class="heading"><h4>(844) 411-AUCTION</h4></div>
    </div>
  </div>

  <div class="sub-logo clear"></div>
  <!--Top Navigation Start-->
  <div id="menu"><span>Menu</span>
    <ul>

      <li class="home">
        <a  title="Home" href="/"><span>Home</span></a>
      </li>
      <li>
        <%= link_to "Category 1" %>
      </li>
      <li>
        <%= link_to "Category 2" %>
      </li>
      <li>
        <%= link_to "Category 3" %>
      </li>
      <li>
        <%= link_to "Category 4" %>
      </li>
      <li>
        <%= link_to "Category 5" %>
      </li>
      <li>
        <%= link_to "Category 6" %>
      </li>
    </ul>
  </div>
  <!--Top Navigation End-->
  <div id="container">
    <!--Left Part-->
    <div id="column-left">
      <!--Locations Part Start-->
      <div class="box">
        <div class="box-heading">Locations</div>
        <div class="box-content box-category">
          <ul id="custom_accordion">
            <ul id="custom_accordion">
              <li class="category25 custom-parent-li">
                <a class="cuuchild custom-parent active" href="http://www.auctionnation.net/locations/nationwide"><b>All Nationwide</b></a>
                <ul>
                </ul>
              </li>

              <li class="category25 custom-parent-li"><a class="cuuchild custom-parent active" href="http://www.auctionnation.net/locations/arizona"><b>Arizona</b></a>
                <ul>
                  <li class="category25">
                    <a class="nochild" href="http://www.auctionnation.net/locations/phoenix">Phoenix Area</a>
                  </li>
                  <li class="category25">
                    <a class="nochild" href="http://www.auctionnation.net/locations/tucson-arizona-auctions">Tucson Area</a>
                  </li>
                </ul>
              </li>
              <li class="category25 custom-parent-li">
                <a class="cuuchild custom-parent active" href="http://www.auctionnation.net/locations/new-mexico"><b>New Mexico</b></a>
                <ul>
                  <li class="category25">
                    <a class="nochild" href="http://www.auctionnation.net/locations/albuquerque">Albuquerque Area</a>
                  </li>
                </ul>
              </li>
              <li class="category25 custom-parent-li">
                <a class="cuuchild custom-parent active" href="http://www.auctionnation.net/locations/wisconsin-online-auctions"><b>Wisconsin</b></a>
                <ul>
                  <li class="category25">
                    <a class="nochild" href="http://www.auctionnation.net/locations/milwaukee">Milwaukee Area</a>
                  </li>
                </ul>
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <!--Locations Part End-->
      <!--Categories Start-->
      <div class="box">
        <div class="box-heading">Categories</div>
        <div class="box-content">
          <div class="box-product">
            <p>Categories to narrow search results will go here.</p>

          </div>
        </div>
      </div>
      <!--Categories End-->
      <!--Specials Product Start-->
      <div class="box">
        <div class="box-heading">New Listings</div>
        <div class="box-content">
          <div class="box-product">
            <div>
              <div class="name">
                <a href="product.html">Or something like new listings can go here.</a>
              </div>              
            </div>
            <div>
           </div>
          </div>
        </div>
      </div>
      <!--Specials Product End-->
    </div>

<%= yield %>

<div class="clear"></div>
    <div class="social-part">

    </div>
  </div>
</div>
<!--Footer Part Start-->
<div id="footer">
  <div class="column">
    <h3>Information</h3>
    <ul>
      <li><a href="about-us.html">About Us</a></li>
      <li><a href="about-us.html">Delivery Information</a></li>
      <li><a href="about-us.html">Privacy Policy</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
  </div>
  <div class="column">
    <h3>Customer Service</h3>
    <ul>
      <li><a href="contact-us.html">Contact Us</a></li>
      <li><a href="#">Returns</a></li>
      <li><a href="sitemap.html">Site Map</a></li>
    </ul>
  </div>
  <div class="column">
    <h3>Extras</h3>
    <ul>
      <li><a href="#">Brands</a></li>
      <li><a href="#">Gift Vouchers</a></li>
      <li><a href="#">Affiliates</a></li>
      <li><a href="#">Specials</a></li>
    </ul>
  </div>
  <div class="column">
    <h3>My Account</h3>
    <ul>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Order History</a></li>
      <li><a href="#">Wish List</a></li>
      <li><a href="#">Newsletter</a></li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li class="address">Second plaza, Delhi, india.</li>
      <li class="mobile">191 191 91 19</li>
      <li class="email"><a href="mailto:info@demo.com">info@demo.com</a></li>
      <li class="fax">191 191 91 19</li>
    </ul>
  </div>
  <div class="social">
    <a href="http://facebook.com/160281810726316 " target="_blank"><img src="assets/facebook.png" alt="Facebook" title="Facebook"></a>
    <a href="https://twitter.com/#!/#" target="_blank"><img src="assets/twitter.png" alt="Twitter" title="Twitter"></a>
    <a href="https://plus.google.com/u/0/#" target="_blank"><img src="assets/googleplus.png" alt="Google+" title="Google+"></a>
    <a href="http://pinterest.com/#" target="_blank"><img src="assets/pinterest.png" alt="Pinterest" title="Pinterest"></a>
    <a href="#" target="_blank"><img src="assets/rss.png" alt="RSS" title="RSS"></a>
    <a href="http://www.vimeo.com/#" target="_blank"><img src="assets/vimeo.png" alt="Vimeo" title="Vimeo"></a>
    <a href="http://www.flickr.com/photos/#" target="_blank"><img src="assets/flickr.png" alt="flickr" title="Flickr"></a>
    <a href="http://www.youtube.com/#" target="_blank"><img src="assets/youtube.png" alt="YouTube" title="YouTube"></a>
    <a href="skype:#?call" target="_blank"><img src="assets/skype.png" alt="skype" title="Skype"></a>
    <a href="#" target="_blank"><img src="assets/blogger.png" alt="Blogger" title="Blogger"></a>
  </div>
  <div class="clear"></div>
  <div id="powered">
    Bigshop <a href="#">Html Template </a> &copy; 2013 &nbsp;|&nbsp; Template By <a target="_blank" href="http://harnishdesign.net">Harnish Design</a>
    <div class="payments_types">
      <img src="assets/payment_paypal.png" alt="paypal" title="PayPal">
      <img src="assets/payment_american.png" alt="american-express" title="American Express">
      <img src="assets/payment_2checkout.png" alt="2checkout" title="2checkout">
      <img src="assets/payment_maestro.png" alt="maestro" title="Maestro">
      <img src="assets/payment_discover.png" alt="discover" title="Discover">
      <img src="assets/payment_mastercard.png" alt="mastercard" title="MasterCard">
      <img src="assets/payment_visa.png" alt="visa" title="Visa">
      <img src="assets/payment_sagepay.png" alt="sagepay" title="sagepay">
      <img src="assets/payment_moneybookers.png" alt="moneybookers" title="Moneybookers">
    </div>
  </div>
</div>
<!--Footer Part End-->
</body>
</html>
